@CHARSET "UTF-8";
#videobutton {
	position : fixed;
    left:10px;
    top:10px;
    width:250px;
    z-index:1000;
}

#snapbutton {
	position : fixed;
    left:10px;
    top:40px;
    width:250px;
    z-index:1000;	
}

#streambutton {
	position : fixed;
    left:10px;
    top:70px;
    width:250px;
    z-index:1000;	
}

#snapshot{
	
}

#consolelog {
	position : fixed;
    left:10px;
    top:450px;
    width:250px;
    z-index:1000;
}