body, html {
    background-color: #3a3a3a;
    height:100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size:1em;
}
a { color: skyblue }

div#loadingScreen {
    color: #FFFFFF;
    position: absolute;
    float:left;
    height:50px;
    width:300px;
    top:50%;
    left:50%;
    text-align: center;
    margin-left:-150px;
    margin-top:-50px;
    font-family: Charcoal, sans-serif;
    font-size: 2em;
    font-weight:bold;
    visibility: hidden;
}

div#container {
    height:auto !important; /* real browsers */
    height: 100%;
}

div#top {
    text-align: center;
    display: table; /* to center the header text */
    width: 100%;
    height: 100px;
    border-bottom: solid 1px #000;
    margin:0;
    background-color: #808080;
    z-index: 150;
}

div#top h1 {
    display: table-cell;
    vertical-align: middle;
    color: #F5FFFA;
    font-family: Charcoal, sans-serif;
    font-size: 2em;
    font-weight:bold;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 10px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1);
}
div#top h2 {
    display: table-row;
    vertical-align: bottom;
    color: #F5FFFA;
    font-family: Charcoal, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
}

div#content-wrapper {
    position: absolute;
    top: 101px;
    right: 0;
    bottom: 101px;
    left: 0;
}

div#left {
    position: absolute;
    left: 20px;
    bottom: 20px;
    top: 20px;
    width: 46%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -box-sizing: border-box;
    text-align: center;
    font-family: Charcoal, sans-serif;
    font-size: 2em;
    font-weight:bold;
    color: #F5FFFA;
    border: solid 1px #000;
    background-color: #9F9F9F;
    z-index: 150;
}

div#right {
    position: absolute;
    right: 20px;
    bottom: 20px;
    top: 20px;
    width: 46%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -box-sizing: border-box;
    text-align: center;
    font-size: 1em;
    color: #F5FFFA;
    border: solid 1px #000;
    background-color: #9F9F9F;
    z-index: 150;
}


#snapshot {
    visibility: hidden;
    margin: 5px auto  5px auto;
    display:block;
    width: auto;
    height:50%;
    border: 1px solid black;
    max-height: 50%;
}

div#footer {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    height   : 100px;
    font-size: 1em;
    /* display: table; to center the header text */
    border-top: solid 1px #000;
    background-color: #808080;
    z-index: 150;
}

div#footer #buttons {
    margin-top:25px;
    text-align:center;
}

div#log {
    padding: 5px 0 5px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -box-sizing: border-box;
    font: 1.2em Arial, Helvetica, sans-serif;
    text-align: left;
    height:50%;
    border-top: 1px solid black;
    max-height:45%;
    width: 100%;
    overflow-y:auto;
    padding-bottom:-10px;
    background-color: #999999;

}

button {
    outline: none;
    display: inline-block;
    font: 1.1em Arial, Helvetica, sans-serif;
    padding: .4em 1em .4em;
    text-align: center;
    text-decoration: none;
    color: #e9e9e9;
    border: solid 1px #555;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top, #888, #575757);
}

button:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top, #757575, #4b4b4b);
}
button:active {
    background: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top, #575757, #888);
}